.button{
    font-size: 1em;
    color: rgb(1, 52, 54);
    padding: 5px;
    margin-left: 10px;
    border: 2px solid rgb(11, 167, 190);
    border-radius: 10px;
}

.prompts{
    font-size: 1.5em;
    color: white;
    margin: 2px;
}

.new{
    display: flex;
    justify-content: center;
    margin: 20px;
}
