@font-face {
  font-family: Imported;
  src: url(./fonts/get_schwifty.ttf)
}

.clear{
  display: block;
  justify-content: center;
  margin: auto;
  font-size: 1em;
  color: rgb(1, 52, 54);
  padding: 5px;
  border: 2px solid rgb(11, 167, 190);
  border-radius: 10px;
}

.title {
  font-family: Imported;
  font-size: 70px;
  font-weight: 100;
  color: rgb(11, 167, 190);
  -webkit-text-stroke: 1px black;
  text-shadow: #8ac02e -1px 0 10px;
  text-align: center;
}
