
.input{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.prompts{
    font-size: 1.5em;
    color: white;
}

.search{
    display: flex;
    justify-content: center;
    margin: 20px;
}

